@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
html {
  font-size: 62.5%;
  background-color: rgb(241, 236, 236);
}

header {
  text-align: center;
}
header img {
  width: 50%;
  text-align: center;
  padding: 20px 0px;
}

h1 {
  color: rgb(120, 144, 144);
  font-size: 5rem;
  text-align: center;
  margin-top: 25px;
}

h2 {
  font-size: 4rem;
  color: rgb(199, 176, 148);
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
  color: rgb(44, 43, 43);
}

p {
  font-size: 2rem;
  font-weight: 250;
  line-height: 2.5rem;
  color: rgb(199, 176, 148);
  margin-bottom: 50px;
}

div svg {
  width: 40px;
  height: 40px;
  padding-left: 130px;
}

div img {
  width: 140px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(245, 33, 146, 0.331);
}
footer p {
  font-size: 1.5rem;
  color: rgb(44, 43, 43);
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.logofoot {
  font-size: 50px;
  color: rgb(44, 43, 43);
}

.p-p {
  margin-left: 43px;
  padding: 0px;
}

.log-foot {
  text-align: center;
}

.tit.alin {
  text-align: left;
}

.botonera {
  background-color: rgba(245, 33, 146, 0.331);
  padding: 6px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-end;
}
.botonera img {
  width: 80px;
}
.botonera ul {
  list-style: none;
  display: flex;
}
.botonera ul li {
  padding-left: 35px;
}
.botonera ul li a {
  text-decoration: none;
  color: rgb(199, 176, 148);
  font-size: 1.8rem;
  align-items: right;
}

.grid {
  width: 85%;
  display: grid;
  background-color: rgb(120, 144, 144);
  margin: 10px auto;
  padding: 0px 15px 0px 15px;
}
.grid div img {
  width: 100%;
}

.template-area {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  grid-template-areas: "im-1 im-2" "im-3 im-4";
}

.grid-inde-1 {
  grid-area: im-1;
}

.grid-inde-2 {
  grid-area: im-2;
}

.grid-inde-3 {
  grid-area: im-3;
}

.grid-inde-4 {
  grid-area: im-4;
}

.descripcion {
  width: 60%;
  height: auto;
  margin: 15px auto 45px auto;
  text-align: center;
}

.bg-body {
  background-color: rgb(199, 176, 148);
  margin: 5px auto 25px auto;
}

.galeria {
  width: 20vw;
  border: 1.5px solid rgb(44, 43, 43);
}

.nov {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nov figure {
  width: 20%;
  text-align: center;
  padding: 25px 0px 20px 0px;
  font-size: 2rem;
  border: 3px;
}

.bg-prod {
  background-color: rgb(120, 144, 144);
  padding: 20px 0px;
}

.tit {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
}

form {
  font-size: 2rem;
  display: block;
}

form input {
  margin: 8px 0px;
}

.formas {
  width: 100%;
  padding: 35px 0px 10px 0px;
  text-align: center;
  justify-content: space-evenly;
}

@media (width < 1282px) {
  nav {
    width: 100%;
  }
}
@media (width < 1281px) {
  .botonera {
    margin-right: 50px;
  }
}
@media (width < 769px) {
  .tit {
    text-align: center;
    font-size: 3.5rem;
  }
  footer {
    flex-direction: column;
    padding: 15px;
  }
  .log-foot {
    margin: 25px 0px 25px 0px;
  }
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .contenedor img {
    width: 60%;
  }
  .botonera {
    align-items: self-end;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 80%;
  }
}
@media (width < 600px) {
  .espacio {
    margin: 20px;
  }
}
@media (width < 451px) {
  .tit_alin {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
