html{
    font-size: 62.5%;
    background-color: $colorBlanco;
}

header{
    text-align: center;
    
        & img{
              width: 50%;
              text-align: center;
              padding: 20px 0px;
        }
}

h1{
    color: $colorDos;
    font-size: $text5;
    text-align: center;
    margin-top: 25px;
}

h2{
    font-size: $text4;
    color: $colorTres;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3{
    font-size: $text2;
}

h4{
    font-size: $text2;
    color:$colorCuat;
}

p{
    font-size: $text2;
    font-weight: 250;
    line-height: 2.5rem;
    color:$colorTres;
    margin-bottom: 50px;
}

div svg{
    width: 40px;
    height: 40px;
    padding-left: 130px;
}

div img{
    width: 140px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:$colorUno;

    p{
        font-size: $text1;
        color:$colorCuat;
        text-align: center;
        padding: 0px;
        margin: 0px;
     }
}

.logofoot{
   font-size: 50px;
   color:$colorCuat;
}



.p-p{
   margin-left: 43px;
   padding: 0px;
}

.log-foot{
text-align: center;
}

.tit.alin{
text-align: left;
}

.left{
    @extend h2;
    color: $colorCuat;
    font-size: $text3;
    margin-left: 40px
}