.grid{
    width: 85%;
    display: grid;
    background-color: $colorDos;
    margin: 10px auto;
    padding: 0px 15px 0px 15px;

    & div img{
            width: 100%;
    }
}


.template-area{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 15px;
        grid-template-areas: 
                            "im-1 im-2"
                            "im-3 im-4";
    }

.grid-inde-1{
        grid-area: im-1;
    }

.grid-inde-2{
        grid-area: im-2;
    }

.grid-inde-3{
        grid-area: im-3;
    }

.grid-inde-4{
        grid-area: im-4;
    }

.descripcion{
        width: 60%;
        height: auto;
        margin: 15px auto 45px auto;
        text-align: center; 
    }

    .bg-body{
        background-color: $colorTres;
        margin: 5px auto 25px auto;
    }

    .galeria{
        width: 20vw;
        border: 1.5px solid $colorCuat;
    }
    
    .nov{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        & figure{
                width: 20%;
                text-align: center;
                padding: 25px 0px 20px 0px;
                font-size: 2rem;
                border: 3px;
        }
    }