@media (width < 1282px){
    nav{ width: 100%;
    }
}

@media (width < 1281px){
    .botonera{
        margin-right: 50px;
    }
}

@media (width < 769px){
    .tit{
        text-align: center;
        font-size: $text3;
    }

    footer{
        flex-direction: column;
        padding: 15px;
    }

    .log-foot{
        margin: 25px 0px 25px 0px;
    }

    h1{
        font-size: $text3;
    }

    p{
        font-size: $text1;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        width: 80%;

            & img{
                 width: 60%;
        }
    }

    .botonera{
        align-items: self-end;
    }

    .grid{
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 80%;
    }
}

@media (width < 600px){
    .espacio{
        margin: 20px;
    }
}

@media (width < 451px){
    .tit{
        text-align: center;
    }
}