.botonera{
           background-color: $colorUno;
           padding: 6px 30px;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: self-end;

            img{
                width: 80px;
            }

            ul{
                list-style: none;
                display: flex
            } 

            ul li{
                padding-left: 35px;
            }

            ul li a{
                text-decoration: none;
                color: $colorTres;
                font-size: $text2;
                align-items: right;               
            }
}

