.contenedor{
    width: 90%;
    padding: 0px 0px 10px 10px;
    margin: 25px auto 45px auto;
    border: 2px solid $colorUno;
    border-radius: 20px;
}

.logouni{
    font-size: 40px;
    color: $colorCuat;
    margin-left: 120px;
}

.descripcion{
        width: 80%;
        height: auto;
        margin: 15px auto 45px auto;
        text-align: center; 
        color: $colorCuat;
}