.contenedor{
    width: 70%;
    padding: 0px 0px 10px 10px;
    margin: 25px auto 45px auto;
    border: 2px solid $colorUno;
    border-radius: 20px;
}

.logouni{
    font-size: 40px;
    color: $colorCuat;
    margin-left: 120px;
}