$colorUno:rgba(245, 33, 146, 0.331);
$colorDos: rgb(120, 144, 144);
$colorTres: rgb(199, 176, 148);
$colorCuat: rgb(44, 43, 43);
$ColorCinc:rgb(211, 149, 201);
$colorBlanco: rgb(241, 236, 236);

$text1: 1.5rem;
$text2: 2rem;
$text3: 3.5rem;
$text4: 4rem;
$text5: 5rem;